<div class="container">
  <div class="page-header">
    <h1 class="font-bieber title">BieberStreamer</h1>
  </div>

  <p class="lead">A live stream dedicated to the wiley Canadian.  See what all the fooss is aboot.</p>

  <div class="container tweet-container">
    <ul id="tweet-list" class="tweet-list">
      <!-- tweets rendered here as list elements !-->
    </ul>
  </div>

</div>
